<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello, my name is Grace and I will graduate in Computer Studies at Langara College in August 2024.
          Here it goes how I fell in love with programming... It was back in 2017 while I was living in Brazil and starting my first graduation at Mechanical Engeneering. Python was my first contact with coding, with which I not only developed my first projects but also decided to be a Teacher Assistant to starting teaching what I loved most.
          After that I realize I didn't want to finish that Engeneering degree, instead I would be accomplished pursuing and IT graduation.
        </p>
      </div>
      <div class="col-lg-4">
        <p>After a few adjustments on my personal life (and a mundial pandemic from corona virus) I moved to Vancouver, BC - Canada and started to study what I really loved. At each step of this process I'm eager for knowledge and experience, and each day more I love to do that.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
